USE [master]
GO
/****** Object:  Database [Codecademy]    Script Date: 18/04/2021 15:48:36 ******/
CREATE DATABASE [Codecademy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Codecademy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Codecademy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Codecademy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Codecademy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Codecademy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Codecademy]
GO
/****** Object:  Table [dbo].[Certificate]    Script Date: 18/04/2021 15:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificate](
	[CertificateId] [int] IDENTITY(1,1) NOT NULL,
	[Grade] [float] NOT NULL,
	[Employee] [nvarchar](50) NOT NULL,
	[StudentEmailAddress] [nvarchar](50) NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
	[EnrollmentDate] [date] NOT NULL,
 CONSTRAINT [PK_Certificate_1] PRIMARY KEY CLUSTERED 
(
	[CertificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Content]    Script Date: 18/04/2021 15:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content](
	[ContentItemId] [int] IDENTITY(1,1) NOT NULL,
	[PublicationDate] [date] NOT NULL,
	[Status] [nvarchar](25) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Content] PRIMARY KEY CLUSTERED 
(
	[ContentItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 18/04/2021 15:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseName] [nvarchar](50) NOT NULL,
	[Module] [int] NULL,
	[Webcast] [int] NULL,
	[Subject] [nvarchar](50) NOT NULL,
	[Difficulty] [nvarchar](20) NOT NULL,
	[IntroductionText] [nvarchar](255) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 18/04/2021 15:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[EmailAddress] [nvarchar](50) NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
	[EnrollmentDate] [date] NOT NULL,
 CONSTRAINT [PK_Enrollment] PRIMARY KEY CLUSTERED 
(
	[EmailAddress] ASC,
	[CourseName] ASC,
	[EnrollmentDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterestingCourse]    Script Date: 18/04/2021 15:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterestingCourse](
	[CourseName] [nvarchar](50) NOT NULL,
	[InterestingCourseName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_InterestingCourse] PRIMARY KEY CLUSTERED 
(
	[CourseName] ASC,
	[InterestingCourseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 18/04/2021 15:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[Title] [nvarchar](50) NOT NULL,
	[Version] [float] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ContactName] [nvarchar](50) NULL,
	[ContactEmail] [nvarchar](50) NULL,
	[ContentItemId] [int] NULL,
	[CourseName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Module] PRIMARY KEY CLUSTERED 
(
	[Title] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Progress]    Script Date: 18/04/2021 15:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Progress](
	[StudentEmailAddress] [nvarchar](50) NOT NULL,
	[ContentItemId] [int] NOT NULL,
	[ProgressPercentage] [float] NOT NULL,
 CONSTRAINT [PK_Progress] PRIMARY KEY CLUSTERED 
(
	[StudentEmailAddress] ASC,
	[ContentItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 18/04/2021 15:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[EmailAddress] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[PostalCode] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Webcast]    Script Date: 18/04/2021 15:48:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Webcast](
	[Title] [nvarchar](50) NOT NULL,
	[Duration] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[LecturerName] [nvarchar](50) NULL,
	[LecturerOrg] [nvarchar](50) NULL,
	[ContentItemId] [int] NOT NULL,
	[ViewCount] [int] NULL,
 CONSTRAINT [PK_Webcast] PRIMARY KEY CLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Certificate] ON 

INSERT [dbo].[Certificate] ([CertificateId], [Grade], [Employee], [StudentEmailAddress], [CourseName], [EnrollmentDate]) VALUES (2, 5, N'Arno', N'thijsvanrijsbergen@gmail.com', N'Cybersecurity basics explained', CAST(N'2021-04-17' AS Date))
SET IDENTITY_INSERT [dbo].[Certificate] OFF
GO
SET IDENTITY_INSERT [dbo].[Content] ON 

INSERT [dbo].[Content] ([ContentItemId], [PublicationDate], [Status], [Type], [CourseName]) VALUES (1, CAST(N'2021-04-17' AS Date), N'Active', N'Module', N'Learn Python 3')
INSERT [dbo].[Content] ([ContentItemId], [PublicationDate], [Status], [Type], [CourseName]) VALUES (2, CAST(N'2021-04-17' AS Date), N'Active', N'Module', N'Learn Python 3')
INSERT [dbo].[Content] ([ContentItemId], [PublicationDate], [Status], [Type], [CourseName]) VALUES (3, CAST(N'2021-04-17' AS Date), N'Active', N'Webcast', N'Learn Python 3')
SET IDENTITY_INSERT [dbo].[Content] OFF
GO
INSERT [dbo].[Course] ([CourseName], [Module], [Webcast], [Subject], [Difficulty], [IntroductionText]) VALUES (N'Design Databases With PostgreSQL', 1, 1, N'SQL', N'Hard', N'Learn how to create entire databases')
INSERT [dbo].[Course] ([CourseName], [Module], [Webcast], [Subject], [Difficulty], [IntroductionText]) VALUES (N'Front-End Engineer', 1, 1, N'Front-End', N'Medium', N'Front-End development is important for companies')
INSERT [dbo].[Course] ([CourseName], [Module], [Webcast], [Subject], [Difficulty], [IntroductionText]) VALUES (N'Introduction to Cybersecurity', 1, 1, N'Cybersecurity', N'Medium', N'Data is valuable and Cybersecurity helps to protect it')
GO
INSERT [dbo].[Enrollment] ([EmailAddress], [CourseName], [EnrollmentDate]) VALUES (N'liamgevaerts@gmail.com', N'Learn Advanced CSS', CAST(N'2021-04-18' AS Date))
INSERT [dbo].[Enrollment] ([EmailAddress], [CourseName], [EnrollmentDate]) VALUES (N'ricardovandeworp@gmail.com', N'Learn Intermidiate CSS', CAST(N'2021-04-18' AS Date))
INSERT [dbo].[Enrollment] ([EmailAddress], [CourseName], [EnrollmentDate]) VALUES (N'thijsvanrijsbergen@gmail.com', N'Introduction to Cybersecurity', CAST(N'2021-04-17' AS Date))
GO
INSERT [dbo].[InterestingCourse] ([CourseName], [InterestingCourseName]) VALUES (N'Design Databases With PostgreSQL', N'Introduction to Cybersecurity')
INSERT [dbo].[InterestingCourse] ([CourseName], [InterestingCourseName]) VALUES (N'Design Databases With PostgreSQL', N'Learn Java')
INSERT [dbo].[InterestingCourse] ([CourseName], [InterestingCourseName]) VALUES (N'Front-End Engineer', N'Learn Python 3')
GO
INSERT [dbo].[Module] ([Title], [Version], [Description], [ContactName], [ContactEmail], [ContentItemId], [CourseName]) VALUES (N'Advanced CSS 1', 1, N'Advanced CSS module 1', N'Ruud', N'ruud@gmail.com', 10, NULL)
INSERT [dbo].[Module] ([Title], [Version], [Description], [ContactName], [ContactEmail], [ContentItemId], [CourseName]) VALUES (N'Advanced CSS 2', 1, N'Advanced CSS module 2', N'Ruud', N'ruud@gmail.com', 11, NULL)
INSERT [dbo].[Module] ([Title], [Version], [Description], [ContactName], [ContactEmail], [ContentItemId], [CourseName]) VALUES (N'CSS basics 1', 1, N'Learn Intermidiate CSS module 1', N'Ruud', N'ruud@gmail.com', 8, NULL)
GO
INSERT [dbo].[Progress] ([StudentEmailAddress], [ContentItemId], [ProgressPercentage]) VALUES (N'liamgevaerts@gmail.com', 12, 20)
INSERT [dbo].[Progress] ([StudentEmailAddress], [ContentItemId], [ProgressPercentage]) VALUES (N'liamgevaerts@gmail.com', 13, 0)
INSERT [dbo].[Progress] ([StudentEmailAddress], [ContentItemId], [ProgressPercentage]) VALUES (N'liamgevaerts@gmail.com', 14, 0)
GO
INSERT [dbo].[Student] ([EmailAddress], [Name], [DateOfBirth], [Gender], [City], [Address], [Country], [PostalCode]) VALUES (N'liamgevaerts@gmail.com', N'Liam Gevaerts', CAST(N'1999-07-11' AS Date), N'Male', N'Rotterdam', N'Wokkenende 43', N'Netherlands', N'7542 GR')
INSERT [dbo].[Student] ([EmailAddress], [Name], [DateOfBirth], [Gender], [City], [Address], [Country], [PostalCode]) VALUES (N'ricardovandeworp@gmail.com', N'Ricardo van de Worp', CAST(N'1999-09-29' AS Date), N'Male', N'Middelburg', N'Janpieterstraat 178', N'Netherlands', N'8537 ET')
INSERT [dbo].[Student] ([EmailAddress], [Name], [DateOfBirth], [Gender], [City], [Address], [Country], [PostalCode]) VALUES (N'rietjehuizen@hotmail.com', N'Rietje Huizen', CAST(N'1980-04-07' AS Date), N'Female', N'Amsterdam', N'Zanddijkstraat 78', N'Netherlands', N'3786 ZT')
GO
INSERT [dbo].[Webcast] ([Title], [Duration], [Description], [LecturerName], [LecturerOrg], [ContentItemId], [ViewCount]) VALUES (N'Advanced Front-End', 300, N'Importance of Front-End development', N'Gerard', N'Yale', 7, 546)
INSERT [dbo].[Webcast] ([Title], [Duration], [Description], [LecturerName], [LecturerOrg], [ContentItemId], [ViewCount]) VALUES (N'CSS course 1', 420, N'CSS course for Avans students', N'Erik', N'Avans', 12, 462)
INSERT [dbo].[Webcast] ([Title], [Duration], [Description], [LecturerName], [LecturerOrg], [ContentItemId], [ViewCount]) VALUES (N'Java course Part 1', 346, N'Java course Part 1', N'Ruud', N'Avans', 18, 221)
GO
ALTER TABLE [dbo].[Webcast] ADD  CONSTRAINT [DF_Webcast_ViewCount]  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD  CONSTRAINT [FK_Content_Course] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Course] ([CourseName])
GO
ALTER TABLE [dbo].[Content] CHECK CONSTRAINT [FK_Content_Course]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Course] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Course] ([CourseName])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Course]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Student] FOREIGN KEY([EmailAddress])
REFERENCES [dbo].[Student] ([EmailAddress])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Student]
GO
ALTER TABLE [dbo].[InterestingCourse]  WITH CHECK ADD  CONSTRAINT [FK_InterestingCourse_Course] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Course] ([CourseName])
GO
ALTER TABLE [dbo].[InterestingCourse] CHECK CONSTRAINT [FK_InterestingCourse_Course]
GO
ALTER TABLE [dbo].[InterestingCourse]  WITH CHECK ADD  CONSTRAINT [FK_InterestingCourse_Course1] FOREIGN KEY([InterestingCourseName])
REFERENCES [dbo].[Course] ([CourseName])
GO
ALTER TABLE [dbo].[InterestingCourse] CHECK CONSTRAINT [FK_InterestingCourse_Course1]
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD  CONSTRAINT [FK_Module_Content] FOREIGN KEY([ContentItemId])
REFERENCES [dbo].[Content] ([ContentItemId])
GO
ALTER TABLE [dbo].[Module] CHECK CONSTRAINT [FK_Module_Content]
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD  CONSTRAINT [FK_Module_Course] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Course] ([CourseName])
GO
ALTER TABLE [dbo].[Module] CHECK CONSTRAINT [FK_Module_Course]
GO
ALTER TABLE [dbo].[Progress]  WITH CHECK ADD  CONSTRAINT [FK_Progress_Content] FOREIGN KEY([ContentItemId])
REFERENCES [dbo].[Content] ([ContentItemId])
GO
ALTER TABLE [dbo].[Progress] CHECK CONSTRAINT [FK_Progress_Content]
GO
ALTER TABLE [dbo].[Progress]  WITH CHECK ADD  CONSTRAINT [FK_Progress_Student] FOREIGN KEY([StudentEmailAddress])
REFERENCES [dbo].[Student] ([EmailAddress])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Progress] CHECK CONSTRAINT [FK_Progress_Student]
GO
ALTER TABLE [dbo].[Webcast]  WITH CHECK ADD  CONSTRAINT [FK_Webcast_Content] FOREIGN KEY([ContentItemId])
REFERENCES [dbo].[Content] ([ContentItemId])
GO
ALTER TABLE [dbo].[Webcast] CHECK CONSTRAINT [FK_Webcast_Content]
GO
USE [master]
GO
